body{
    background: url(../img/bckgrd.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
}

#responsive-menu{
    background-color: #2b669a;
    border-color: #2b669a;
}

header{
    opacity: .7;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #2aabd2;
    color: #122b40;
}

.navbar-inverse .navbar-brand {
    margin-left: 100px;
    margin-right: 200px;
    font-size: 24px;
    cursor: pointer;
}